<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        {{ message }}
        {{ myName }}

    </div>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                message: 'Hello vue!',
                myName: 'Chanachon'
            }
        });
    </script>
    <div id="link">
        <a v-bind:href="linkside">{{ namelink }}</a>

    </div>
    <script>
        new Vue({
        el: '#link',
        data: {
            namelink: 'google',
            linkside: 'https://www.google.com'

        }
    })
    </script>

    
</body>
</html>