<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

      
<body>
    <div id="app">
        <input type="text" placeholder="You Name" v-model="parson.name"><br>
        <input type="text" placeholder="You Surname" v-model="parson.surname"><br>
        <input type="number" placeholder="You Age" v-model="parson.age"><br>
        <input type="radio" id="male" value="male" v-model="parson.gender">
        <label for="male">Male</label>
        <br>
        <input type="radio" id="female" value="female" v-model="parson.gender">
        <label for="female">Female</label>
        <br>
        <input type="checkbox" id="dog" value="dog" v-model=parson.pet>
        <label for="dog">Dog</label>
        <input type="checkbox" id="cat" value="cat" v-model=parson.pet>
        <label for="cat">Cat</label>
        <input type="checkbox" id="bird" value="bird" v-model=parson.pet>
        <label for="bird">Bird</label>
        <select v-model=parson.role>
            <option value=""disabled>Select role</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <span>{{parson}}</span>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                parson:{
                    name:'',
                    surname:'',
                    age:'',
                    gender:'',
                    pet:[],
                    role:'',
                }
            }
        })
    </script>
</body>
</html>